@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body{

}

.logo_mini{
  margin-top: 40px;
  max-height: 700px;
}

.home_pc{
  margin-top: 2%;
  width: 80%;
}

.home_cell{
  margin-top: 2%;
  width: 0%;
}

.entra_pc{
  margin-top: 2%;
  margin-bottom: 60px;
  width: 14%;
}

@media only screen and (max-width:600px){

.home_pc{
  width: 0%
}

.home_cell{
  margin-top: 2%;
  width: 80%;
}

.entra_pc{
  margin-top: 10%;
  margin-bottom: 60px;
  width: 20%;
}
}
