@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body{

}

.logo_mini{
  margin-top: 40px;
  max-height: 700px;
}

.home_pc{
  margin-top: 2%;
  width: 80%;
}

.home_cell{
  margin-top: 2%;
  width: 0%;
}

.entra_pc{
  margin-top: 2%;
  margin-bottom: 60px;
  width: 14%;
}
.logo{
  width: 250px;
}

.progetto_menu, .foto_menu, .contatti_menu{
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.foto_intro{
  margin-top: 50px;
  width: 800px;
}

.box_catalog{
  margin-top: 100px;
}

.name_img{
  margin-left: -670px;
  height: 40px;
  margin-bottom: 20px;
}

.cat_img{
  width: 800px;
}


@media only screen and (max-width:900px){

.foto_intro{
 width:500px;
}

.name_img{
  margin-left: -370px;
}
.cat_img{
  width: 500px;
}

}


@media only screen and (max-width:600px){

.logo_mini{
  margin-top: 40px;
  max-height: 600px;
}

.home_pc{
  width: 0%
}

.home_cell{
  margin-top: 2%;
  width: 80%;
}

.entra_pc{
  margin-top: 10%;
  margin-bottom: 60px;
  width: 20%;
}

.logo{
  width: 300px;
}
.header_menu{
  margin-top: 50px;
  width: 200px;
}

.foto_intro{
 width:400px;
}

.name_img{
  margin-left: -270px;
}
.cat_img{
  width: 400px;
}

}
